*{
    box-sizing: border-box;
}

body{
    font-family: 'Source Code Pro', monospace;    
    background-color: #191A19;
    color: #fff;
}

html, body{
    scroll-behavior: smooth;
}

section{
    padding: 7% 25% 7% 20%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    margin: auto 0; 
}

::-webkit-scrollbar {
    width: 8px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: #242424;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #191A19;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }

.footer-button{
    position: fixed;
    bottom: 10px;
    right: 0;
    background-color: transparent;
    border: none;
    color: #64FFDA;
    /* box-shadow: #cae2dd; */
    border-radius: 100%;
    box-shadow: #cae2dd15 0px 2px 8px 0px;;
}

@media only screen and (max-width: 768px){
    section{
        height: 25%;
        padding: 10% 8%;
    }

    .sec-heading{
        font-size: 2rem;
    }

}


