@media only screen and (min-width: 768px){
    .footer{
        display: none;
    }
}

.footer{
    display: flex;
    justify-content: center;
}

.f-connect{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 0;
}

.f-connect a{
    padding: 10px;
    text-decoration: none;
    color: #666666;
}